.footer {
  background-color: #2c2b2b;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  align-content: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
}

.footer-container {
  display: inline-block
}

.thumbnail {
  color: white;
}

.thumbnail:hover {
  color: rgba(23, 163, 46, 0.863);
}
